@import "tailwindcss";

@font-face {
  font-family: Ubuntu;
  src: url('../public/fonts/Ubuntu-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url('../public/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Ubuntu;
  src: url('../public/fonts/Ubuntu-Bold.ttf');
  font-weight: bold;
}

@theme {
  /** primary/main colors  */
  --color-primary-dark-blue: #032a59;
  --color-primary-purple-medium: #473dff;
  --color-primary-light-blue: #adbeff;
  --color-primary-lighter-blue: #bfe2fd;
  --color-primary-bright-red: #ed3548;
  /** neutrals  */
  --color-neutral-dark-grey: #9699ab;
  --color-neutral-transparent-purple: #d6d9e6;
  --color-neutral-transparent-blue: #f0f5ff;
  --color-neutral-transparent-light-blue: #fafbff;
  --color-neutral-white: #ffffff;
  /** hover  */
  --color-dark-blue-hover: #174A8B;
  --color-purple-medium-hover: #938CFE;
  --color-bright-red-hover: #ed3548dd;
  /** others  */
  --color-summary-bg: #F8F9FE;
  --color-container-color: #032a5973;
  --color-dark-blue-transparent: #032a5933;
  --color-dark-blue-transparent-light: #032a5926;
  --color-shine: #ffffff48;
  /** typography */
  --font-family-ubuntu: Ubuntu, sans-serif;
  --text-size: 0.875rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /** background images */
  --background-sidebar-mobile: url('../public/Images/bg-sidebar-mobile.svg');
  --background-sidebar-desktop: url('../public/Images/bg-sidebar-desktop.svg');

}

@layer base {
  body {
    @apply bg-neutral-transparent-blue min-h-screen font-family-ubuntu flex flex-col justify-center items-center overflow-x-hidden;
  }
}