@import "tailwindcss";

@font-face {
  font-family: Ubuntu;
  src: url('/fonts/Ubuntu-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Ubuntu;
  src: url('/fonts/Ubuntu-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url('/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Ubuntu;
  src: url('/fonts/Ubuntu-Bold.ttf');
  font-weight: bold;
}

@theme {
  /** primary/main colors  */
  --color-primary-dark-blue: #032a59;
  --color-primary-purple-medium: #473dff;
  --color-primary-light-blue: #adbeff;
  --color-primary-lighter-blue: #bfe2fd;
  --color-primary-bright-red: #ed3548;
  /** neutrals  */
  --color-neutral-dark-grey: #9699ab;
  --color-neutral-transparent-purple: #d6d9e6;
  --color-neutral-transparent-blue: #f0f5ff;
  --color-neutral-transparent-light-blue: #fafbff;
  --color-neutral-white: #ffffff;
  /** hover  */
  --color-dark-blue-hover: #174A8B;
  --color-purple-medium-hover: #938CFE;
  --color-bright-red-hover: #ed3548dd;
  /** others  */
  --color-summary-bg: #F8F9FE;
  --color-container-color: #032a5973;
  --color-dark-blue-transparent: #032a5933;
  --color-dark-blue-transparent-light: #032a5926;
  --color-shine: #ffffff48;
  /** typography */
  --font-family-ubuntu: Ubuntu, sans-serif;
  --text-small-size: 0.875rem;
  --text-regular-size: 1rem;
  --text-large-size: 1.125rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /** shadow */
  --shadow-form: 0rem 0.5rem 0.5rem 0rem var(--color-neutral-transparent-purple);
  --shadow-modal: 0rem .5rem 2rem var(--color-dark-blue-transparent);
  --shadow-close-modal: 0 .25rem .75rem var(--color-dark-blue-transparent-light);
  --shadow-close-modal-hover: 0 .375rem 1rem var(--color-dark-blue-transparent);

  /** borders */
  --radius-lxg: 0.625rem;
  --border-active-width: 0.0938rem;

  /** background images */
  --background-image-mobile: url('../public/Images/bg-sidebar-mobile.svg');
  --background-image-desktop: url('../public/Images/bg-sidebar-desktop.svg');

  /** Custom Checkbox Image */
  --background-image-checkbox-checked: url('../public/Images/icon-checkmark.svg');

  --breakpoint-3xs: 22.5619rem;
  --breakpoint-xxs: 23.4375rem;
  --breakpoint-lmb: 26.5rem;

  --animate-thumbBounce: thumbBounce 0.3s ease-in-out;
  @keyframes thumbBounce {
    0% { transform: scale(1) translateY(0); }
    50% { transform: scale(0.64) translateY(-2px); }
    100% { transform: scale(1) translateY(0); }
  }


  --animate-shine: shine 3.2s ease-in-out infinite;
  @keyframes shine {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
  }

}

@layer base {
  body, #root {
    @apply bg-neutral-transparent-blue min-h-screen font-family-ubuntu overflow-x-hidden md:flex md:flex-col md:justify-center md:items-center;
  }

  button, input {
    @apply cursor-pointer font-family-ubuntu outline-offset-4;
  }
}

@layer utilities {
  .hidden {
    /* @apply hidden; */
  }
}

@layer components {
  .form-container {
    @apply min-h-screen max-md:min-w-screen md:max-lg:w-[clamp(45rem,96vw,64rem)] lg:w-[clamp(48rem,90vw,75rem)] md:h-full md:min-h-180 md:flex md:justify-center md:items-center md:bg-neutral-white md:rounded-lxg md:p-4 md:my-0 md:mx-auto md:max-w-300;
  }

  /** Progress Section */
  .progress-section {
    @apply bg-mobile h-48 w-full bg-no-repeat bg-cover bg-center flex max-md:justify-center md:bg-desktop md:h-172 md:w-[30vw] md:rounded-lxg md:flex-col md:items-start md:max-lg:ps-4 lg:ps-9;
  }

  .progress-section-mobile {
    @apply max-md:flex max-md:justify-between max-md:items-center max-md:w-3/5 max-xxs:w-1/2 max-md:mbe-16 max-3xs:w-[64%];
  }

  .progress-circle {
    @apply md:flex md:items-center md:w-46 md:mbs-10;
  }

  .step-number {
    @apply border rounded-[50%] w-10 h-10 border-neutral-transparent-blue text-neutral-white flex justify-center items-center font-bold hover:cursor-pointer md:me-4;
  }

  .step-number.active {
    @apply bg-primary-lighter-blue text-primary-dark-blue;
  }

  .user-info-step {
    @apply hidden md:flex md:flex-col md:items-start md:uppercase;
  }

  .step {
    @apply md:text-neutral-transparent-purple md:text-small-size md:font-light mbe-[0.313rem];
  }

  .step-name {
    @apply text-neutral-white font-bold tracking-[0.125rem] align-baseline;
  }


  /** Reusable/Repeated Styles */
  .form {
    @apply w-full h-full flex flex-col justify-between max-md:items-center md:w-[clamp(32rem,80%,90%)];
  }

  .form-mobile {
    @apply max-md:bg-neutral-white max-md:w-[90vw] max-md:flex max-md:flex-col max-md:py-5 max-md:px-5 max-md:rounded-lg max-md:-mbs-20.5 max-md:shadow-(--shadow-form);
  }

  .next-button {
    @apply bg-primary-dark-blue text-neutral-white w-32 h-12 hover:bg-dark-blue-hover rounded-[0.3125rem];
  }

  .submit-form {
    @apply w-full flex justify-end max-md:py-6 max-md:px-4 max-md:bg-neutral-white mt-4 max-lmb:mt-4 md:mbs-8;
  }

  .submit-btns {
    @apply justify-between;
  }

  .previous-button {
    @apply text-neutral-dark-grey font-medium hover:text-primary-dark-blue;
  }

  .input-container input.error {
    @apply border-primary-bright-red;
  }



  /** Section 1: Personal Info Form Section */
  .form-main-section {
    @apply w-full h-[calc(100svh-2rem)] lmb:h-[calc(100svh-12rem)] flex flex-col justify-center md:flex-row md:w-[70vw] md:h-172 items-center md:px-8;
  }

  /* .personal-info-form {
    @apply h-full flex flex-col justify-between items-center;
  }

  .personal-info-form-mobile {
    @apply bg-neutral-white w-[90vw] flex flex-col py-5 px-5 rounded-lg -mbs-20.5 shadow-(--shadow-form);
  } */

  .form-header {
    @apply mt-6;

    & h1 {
      @apply mb-4 text-4xl text-primary-dark-blue font-bold;
    }

    & p {
      @apply text-neutral-dark-grey;
    }
  }

  .form-body {
    @apply mbs-6 md:mbs-16;
  }

  /** Input */
  .input-container {
    @apply flex flex-col mbe-8; /* last:mbe-0 */
  }

  .label-and-error {
    @apply flex justify-between;

    & label {
      @apply capitalize text-primary-dark-blue text-small-size mbe-2;
    }
  }

  .error-message {
    @apply text-primary-bright-red text-xs text-end font-regular md:text-small-size md:font-medium;
  }

  .input-container input {
    @apply text-primary-dark-blue w-full h-12 rounded-lg border border-neutral-transparent-purple outline-none px-3 text-regular-size hover:border-primary-purple-medium hover:border-(length:--border-active-width) focus:border-primary-purple-medium focus:border-(length:--border-active-width) focus-visible:border-primary-purple-medium focus-visible:border-(length:--border-active-width);
  }

  .input-container input::placeholder {
    @apply text-neutral-dark-grey;
  }


  /** Section 2: Plan Selection  */
  .plan-error {
    @apply text-primary-bright-red font-medium max-md:text-small-size text-regular-size;
  }

  .form-body:has(.plan-error:not(.hidden)) {
    @apply mbs-[calc(4rem-0.8rem)];
  }

  .plan-container {
    @apply flex max-md:flex-col justify-between gap-y-4 mbe-6 md:mbe-8;
  }

  .plan-card {
    @apply flex items-start justify-start text-start max-md:items-center w-full h-24 gap-x-6 border border-neutral-transparent-purple cursor-pointer rounded-lg py-6 px-4 transition-[border] duration-200 ease-[ease-in] motion-reduce:transition-none hover:border-primary-purple-medium hover:border-(length:--border-active-width) active:bg-neutral-transparent-light-blue active:border-primary-purple-medium active:border-(length:--border-active-width) md:flex-col md:justify-between md:w-[30.6%] md:h-55;
  } /*Remove active pseudo class after testing that the style below works*/

  .plan-card.active {
    @apply bg-neutral-transparent-light-blue border-primary-purple-medium border-(length:--border-active-width);
  }

  .plan-card:has(.yearly-discount-duration:not(.hidden)) {
    @apply max-md:h-28 max-md:transition-[height] max-md:duration-250 max-md:ease-[ease-out] max-md:motion-reduce:transition-none;
  }

  .plan-card-body {
    @apply flex flex-col items-start;
  }

  .plan-card-header {
    @apply text-primary-dark-blue font-bold mbe-1 text-large-size;
  }

  .monthly-yearly-pricing {
    @apply text-neutral-dark-grey;
  }

  .yearly-discount-duration {
    @apply text-small-size text-primary-dark-blue mbs-1;
  }

  /** Plan Section: Billing Toggle */
  .billing-container {
    @apply flex items-center justify-center gap-6 bg-neutral-transparent-blue py-[0.8rem] px-6 rounded-lg w-full my-4 mx-auto;
  }

  .billing-option-container {
    & label {
      @apply font-medium cursor-pointer text-neutral-dark-grey text-small-size transition-colors duration-300 ease-[ease] motion-reduce:transition-none;
    }

    & input[type='radio'] {
      @apply h-0 absolute opacity-0 w-0 m-0 -z-10;
    }

    input[type="radio"]:focus-visible + label {
      @apply outline-[1.5px] outline-offset-4 outline-primary-dark-blue rounded-xs p-1;
    }

    & input[type='radio']:checked + label {
      @apply text-primary-dark-blue font-bold;
    }
  }

  /** Main Toggle */
  .toggle-container {
    @apply relative w-11.25 h-5.5 bg-primary-dark-blue rounded-2xl cursor-pointer transition-[background-color] duration-300 ease-[ease] motion-reduce:transition-none;

    & label {
      @apply hidden relative text-[0rem] -z-6;
    }

    & input[type='range'] {
      @apply absolute w-full h-full opacity-0 cursor-pointer z-2 appearance-none;
    }
  }

  .toggle-thumb {
    @apply absolute top-0.75 left-1 w-4 h-4 bg-neutral-white rounded-[50%] pointer-events-none transition-[left,transform] duration-300 ease-[ease] motion-reduce:transition-none;
  }

  .billing-container.active .toggle-thumb {
    @apply left-6.25;
  }

  /* .toggle-thumb.clicked {
    @apply transform scale-[0.64] transition-all duration-400 ease-[ease] motion-reduce:transition-none;
  } */

  .toggle-thumb.bounce {
    @apply animate-thumbBounce motion-reduce:animate-none;
  }


  /** Section 3: Add-ons Selection Section */
  .add-ons-container, .summary-card-container {
    @apply mbs-8;
  }

  .addon-card {
    @apply flex justify-between items-center py-6 px-[0.6rem] md:px-4 rounded-lg border border-neutral-transparent-purple cursor-pointer mbe-4 transition-[border] duration-300 ease-[ease] motion-reduce:transition-none hover:outline-none hover:border hover:border-primary-purple-medium focus:outline-none focus:border focus:border-primary-purple-medium focus-visible:outline-none focus-visible:border focus-visible:border-primary-purple-medium;
  }

  .addon-card.active {
    @apply outline-none cursor-pointer border-primary-purple-medium bg-neutral-transparent-light-blue border-(length:--border-active-width);
  }

  .addon-card-body {
    @apply flex items-center gap-[0.8rem] md:gap-6;
  }

  /** Custom Checkbox Styling */
  .addon-card-body input[type='checkbox'] {
    @apply w-5 h-5 absolute opacity-0 cursor-pointer;
  }

  .custom-checkbox {
    @apply w-5 h-5 border border-neutral-transparent-purple rounded-[0.3125rem] inline-block cursor-pointer bg-transparent shrink-0 transition-all duration-200 ease-[ease-in] motion-reduce:transition-none;
  }

  .addon-card-body input[type="checkbox"]:checked + .custom-checkbox {
    @apply bg-primary-purple-medium border-primary-purple-medium bg-checkbox-checked bg-no-repeat bg-center bg-size-[0.75rem];
  }

  .addon-details {
    @apply flex flex-col cursor-pointer;

    & label {
      @apply w-fit text-regular-size font-medium text-primary-dark-blue mbe-px;
    }

    & p {
      @apply text-small-size text-neutral-dark-grey;
    }
  }

  .addon-price, .addon-pricing-cycle {
    @apply text-primary-purple-medium;
  }


  /** Section 4: Summary Section */
  .summary-card {
    @apply bg-summary-bg rounded-lxg py-8 px-6;
  }

  .selected-plan-and-price {
    @apply flex items-center justify-between mbe-6;
  }

  .divider {
    @apply w-full border-b border-neutral-transparent-purple mbs-4 mbe-6 mx-0;
  }

  .user-plan-selected {
    @apply text-regular-size font-medium text-primary-dark-blue mbe-1;
  }

  .change-plan-btn {
    @apply border-none outline-none bg-transparent text-neutral-dark-grey underline underline-offset-2 text-small-size transition-colors duration-200 ease-[ease-in] motion-reduce:transition-none hover:text-primary-purple-medium;
  }

  .selected-plan-price{ 
    @apply self-center;

    & span {
      @apply text-regular-size font-bold text-primary-dark-blue;
    }
  }

  .selected-addon-and-price {
    @apply flex justify-between items-center mbe-6 last:mbe-0;

    /* & :last-child {
      @apply mbe-0;
    } */
  }

  .selected-addon {
    @apply text-small-size text-neutral-dark-grey capitalize;
  }

  .selected-addon-price {
    @apply text-small-size text-primary-dark-blue;
  }

  .total-cost-container {
    @apply w-[90%] flex justify-between items-center mbs-8 mbe-[1.64rem] mx-auto;
  }

  .total-cost {
    @apply max-md:text-small-size text-regular-size text-neutral-dark-grey;
  }

  .total-cost-value {
    @apply text-[1.25rem] font-bold text-primary-purple-medium;
  }

  .submit-btns > .confirm-btn {
    @apply bg-primary-purple-medium hover:bg-purple-medium-hover;
  }


  /** Section 5: Thank You Section */
  .thank-you-section {
    @apply justify-center items-center text-center;

    & img, & h2 {
      @apply mbe-8;
    }
  }

  .thank-you-text {
    @apply text-[2.25rem] font-bold text-primary-dark-blue;
  }

  .thank-you-paragraph {
    @apply text-regular-size text-neutral-dark-grey leading-6;

    & a {
      @apply text-neutral-dark-grey no-underline;
    }
  }


  /** Confirmation Modal */
  .confirmation-modal-overlay {
    @apply  h-screen w-full bg-container-color flex justify-center items-center fixed top-0 left-0 right-0 bottom-0 z-4 overflow-y-scroll max-md:h-[calc(100%+0.688rem)];
  }
  html:has(.confirmation-modal-overlay) {
    @apply overflow-hidden;
  }

  .confirmation-modal-container {
    @apply flex flex-col justify-center items-center w-[min(92vw,50rem)] bg-neutral-transparent-light-blue border border-neutral-transparent-purple shadow-modal rounded-xl p-8 relative max-md:h-[clamp(80vh,49.168rem,90vh)];
  }

  .close-modal {
    @apply w-12 h-12 flex justify-center items-center absolute -top-3 -right-3 bg-neutral-white rounded-[50%] z-8 border-2 border-neutral-transparent-purple shadow-close-modal cursor-pointer hover:bg-neutral-transparent-light-blue hover:border-primary-light-blue hover:scale-[1.05] hover:shadow-close-modal-hover transition-all duration-200 ease-[ease-in] motion-reduce:transition-none;
  }

  .close-modal-icon {
    @apply w-6 h-6 fill-neutral-dark-grey transition-all duration-200 ease-[ease] motion-reduce:transition-none;
  }

  .close-modal:hover > .close-modal-icon {
    @apply fill-primary-bright-red;
  }

  .confirmation-modal-details {
    @apply w-full max-md:overflow-y-scroll;
  }

  .modal-header {
    @apply my-8 justify-items-center;

    & h3 {
      @apply text-2xl font-bold text-primary-dark-blue capitalize mbe-[0.8rem] max-md:text-center;

      & span {
        @apply text-primary-light-blue;
      }
    }

    & p {
      @apply max-md:text-justify;
    }
  }

  .modal-body {
    @apply bg-neutral-transparent-blue h-full w-full rounded-lxg p-6 flex max-md:flex-col max-md:h-[unset] max-md:px-[0.8rem];

    & :is(h3, h4) {
      @apply text-primary-dark-blue font-bold text-xl;
    }
  }

  .confirm-personal-info-container {
    @apply border-r border-r-neutral-transparent-purple pe-5 me-5 flex flex-col justify-center items-center w-1/2 max-md:w-full max-md:border-r-0 max-md:me-0 max-md:pe-0 max-md:border-b max-md:border-b-neutral-transparent-purple max-md:mbe-4 max-md:pbe-[0.2rem];

    & h3 {
      @apply mbe-4;
    }
  }

  .confirm-personal-info-body {
    @apply max-md:grid max-md:grid-cols-[repeat(auto-fit,minmax(6rem,1fr))] max-md:w-full max-md:gap-x-3 max-md:text-center max-sm:text-left;
  }

  .confirm-personal-info-body .confirm-personal-detail:nth-child(2) {
    & span {
      @apply max-sm:wrap-break-word max-sm:hyphens-auto;
    }
  }

  /** Shared/Repeated styling for confirming personal details (name, email, phone) */
  .confirm-personal-detail {
    @apply mbe-[0.8rem];

    & h5 {
      @apply text-primary-dark-blue font-regular text-large-size mbe-[0.2rem];
    }

    & span {
      @apply text-neutral-dark-grey font-light;
    }
  }

  .confirm-plan-and-addons-container {
    @apply w-full;
  }

  .confirm-section, .confirm-add-on {
    @apply flex justify-between items-center w-full;
  }

  .plan-price {
    @apply text-regular-size;
  }

  .confirm-divider hr {
    @apply w-full my-4 mx-0 border-neutral-transparent-purple;
  }

  .confirm-section:nth-child(-n+4), .confirm-add-on {
    @apply mbe-4;
  }

  .plan-name, .add-on-name {
    @apply font-light text-neutral-dark-grey;
  }

  .add-on-name {
    @apply capitalize;
  }
  
  .plan-price, .add-on-price {
    @apply text-primary-light-blue font-medium;
  }

  .add-on-price {
    @apply text-small-size max-md:text-regular-size;
  }

  .total-amount {
    @apply text-xl font-bold text-primary-purple-medium;
  }

  .confirm-button {
    @apply w-full flex justify-end mt-6;

    & button {
      @apply self-end border-none focus-visible:outline-[1.5px] focus-visible:outline-primary-bright-red rounded-lg bg-primary-bright-red text-neutral-white text-regular-size py-3 px-6 relative overflow-hidden hover:bg-bright-red-hover;

    }
    
    & button::before {
      @apply content-[''] absolute top-0 -left-full w-[32%] h-full -skew-x-25 bg-linear-90 from-transparent via-shine to-transparent animate-shine;
    }
  }



}